<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.citytour">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Common.loginsignup.SuccessMessage"></activity>
        <activity android:name=".Common.loginsignup.SetNewPassword" />
        <activity android:name=".Common.loginsignup.make_selection" />
        <activity android:name=".Common.loginsignup.ForgotPassword" />
        <activity android:name=".Common.loginsignup.Codeverfication" />
        <activity android:name=".Common.loginsignup.SignupThird" />
        <activity android:name=".Common.loginsignup.SignupSecond" />
        <activity android:name=".Common.loginsignup.Signupfirst"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".Common.loginsignup.Login"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".Common.loginsignup.RetailerScreen" />
        <activity android:name=".User.Categories" />
        <activity android:name=".Common.OnBoarding" />
        <activity android:name=".User.UserDashboard" />
        <activity android:name=".Common.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>